flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Firebase",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d78a1cc5aea2f3ae",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fbd85a30f492fd45",
        "type": "tab",
        "label": "System Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "40dbd4eefce72e0e",
        "type": "tab",
        "label": "Login & Security",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7a2ff255f92b14c8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1d754faa898b190d",
        "type": "firebase-config",
        "name": "My Database",
        "authType": "email",
        "claims": {},
        "createUser": false,
        "status": {
            "firestore": false,
            "storage": false
        },
        "useClaims": false
    },
    {
        "id": "edfd14a3bac6ed2b",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4d0dd942611304c9",
        "type": "global-config",
        "env": [],
        "modules": {
            "@gogovega/firebase-config-node": "0.3.4",
            "node-red-dashboard": "3.6.6",
            "@gogovega/node-red-contrib-firebase-realtime-database": "0.8.2",
            "node-red-node-ui-table": "0.4.5"
        }
    },
    {
        "id": "82c1ce6f40da2ef5",
        "type": "ui_tab",
        "name": "Admin Access",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "22104f713f9a0636",
        "type": "ui_tab",
        "name": "User View",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7cbb3c971e163e7d",
        "type": "ui_tab",
        "name": "Admin View",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "f5f93a2edbff8ba3",
        "type": "ui_group",
        "name": "Access_Control",
        "tab": "82c1ce6f40da2ef5",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b9528c6b547cb537",
        "type": "ui_group",
        "name": "User_Parking",
        "tab": "22104f713f9a0636",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f19da899c53473ee",
        "type": "ui_group",
        "name": "User_Safety",
        "tab": "22104f713f9a0636",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3eaf8e533c38cca0",
        "type": "ui_spacer",
        "z": "40dbd4eefce72e0e",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "activity_log_group",
        "type": "ui_group",
        "name": "Activity Log",
        "tab": "7cbb3c971e163e7d",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b3bf710b67ec3bc9",
        "type": "ui_group",
        "name": "Safety Info",
        "tab": "7cbb3c971e163e7d",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f546be7135824c6",
        "type": "ui_group",
        "name": "Parking Status",
        "tab": "7cbb3c971e163e7d",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "65a5106241318d93",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "To_Firebase_S1",
        "links": [
            "9c249e1f703a7ff4"
        ],
        "x": 305,
        "y": 120,
        "wires": [
            [
                "956baa758ff6ea88"
            ]
        ]
    },
    {
        "id": "e4c0756ae099b117",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "To_Firebase_S2",
        "links": [
            "2b732069f5723a18"
        ],
        "x": 285,
        "y": 240,
        "wires": [
            [
                "53c89e5dadfc77eb"
            ]
        ]
    },
    {
        "id": "228e56200a2d126c",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "To_Firebase_S3",
        "links": [
            "d2f8960d823cc35d"
        ],
        "x": 275,
        "y": 340,
        "wires": [
            [
                "ec3c53a069a1a827"
            ]
        ]
    },
    {
        "id": "2bdb9085b2ec4a1b",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "To_UI_Smoke",
        "links": [
            "a7b69fab224162e8"
        ],
        "x": 275,
        "y": 440,
        "wires": [
            [
                "6662a5ea6db1928b"
            ]
        ]
    },
    {
        "id": "f41a9b0ce3f9491c",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "To_UI_Alarm",
        "links": [
            "edd5826c8f0b7cef"
        ],
        "x": 275,
        "y": 500,
        "wires": [
            [
                "5146f6abc4bffc5b"
            ]
        ]
    },
    {
        "id": "956baa758ff6ea88",
        "type": "firebase-out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "database": "1d754faa898b190d",
        "path": "SmartParking/Slot1",
        "pathType": "str",
        "priority": "1",
        "queryType": "set",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "53c89e5dadfc77eb",
        "type": "firebase-out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "database": "1d754faa898b190d",
        "path": "SmartParking/Slot2",
        "pathType": "str",
        "priority": "1",
        "queryType": "set",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "ec3c53a069a1a827",
        "type": "firebase-out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "database": "1d754faa898b190d",
        "path": "SmartParking/Slot3",
        "pathType": "str",
        "priority": "1",
        "queryType": "set",
        "x": 540,
        "y": 340,
        "wires": []
    },
    {
        "id": "6662a5ea6db1928b",
        "type": "firebase-out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "database": "1d754faa898b190d",
        "path": "SmartParking/SmokeLevel",
        "pathType": "str",
        "priority": "1",
        "queryType": "set",
        "x": 560,
        "y": 440,
        "wires": []
    },
    {
        "id": "5146f6abc4bffc5b",
        "type": "firebase-out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "database": "1d754faa898b190d",
        "path": "SmartParking/AlarmStatus",
        "pathType": "str",
        "priority": "1",
        "queryType": "set",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "da8bb143eb09b30c",
        "type": "firebase-out",
        "z": "f6f2187d.f17ca8",
        "name": "Push to Firebase History",
        "database": "1d754faa898b190d",
        "path": "SmartParking/History",
        "pathType": "str",
        "priority": "1",
        "queryType": "push",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "b52ffc079c3de207",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "link in 1",
        "links": [
            "8384b526c7935d56"
        ],
        "x": 275,
        "y": 600,
        "wires": [
            [
                "da8bb143eb09b30c"
            ]
        ]
    },
    {
        "id": "b244b4141a70150c",
        "type": "mqtt in",
        "z": "d78a1cc5aea2f3ae",
        "name": "",
        "topic": "parking/slot/1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a2ff255f92b14c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "24ce6d85d1c1f914"
            ]
        ]
    },
    {
        "id": "94705dbf8cb08792",
        "type": "mqtt in",
        "z": "d78a1cc5aea2f3ae",
        "name": "",
        "topic": "parking/slot/2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a2ff255f92b14c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "0fdcb9ee3ea1ba1f"
            ]
        ]
    },
    {
        "id": "8cd6865e94bc9d53",
        "type": "mqtt in",
        "z": "d78a1cc5aea2f3ae",
        "name": "",
        "topic": "parking/slot/3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a2ff255f92b14c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "d93af448b6cb1a92"
            ]
        ]
    },
    {
        "id": "9c249e1f703a7ff4",
        "type": "link out",
        "z": "d78a1cc5aea2f3ae",
        "name": "To_Firebase_S1 / To_UI_S1",
        "mode": "link",
        "links": [
            "65a5106241318d93",
            "376fcd95ea803042",
            "b3aa5956396cba2c",
            "c2c830914eb78273",
            "20320e81bd72a0ad",
            "92856e56a786ca7d"
        ],
        "x": 865,
        "y": 100,
        "wires": []
    },
    {
        "id": "2b732069f5723a18",
        "type": "link out",
        "z": "d78a1cc5aea2f3ae",
        "name": "To_Firebase_S2 / To_UI_S2",
        "mode": "link",
        "links": [
            "e4c0756ae099b117",
            "2b5556bb685d0960",
            "b3aa5956396cba2c",
            "3bc75a758a633903",
            "9927d31d775af7a5",
            "eecd8f9a70856503"
        ],
        "x": 865,
        "y": 200,
        "wires": []
    },
    {
        "id": "d2f8960d823cc35d",
        "type": "link out",
        "z": "d78a1cc5aea2f3ae",
        "name": "To_Firebase_S3 / To_UI_S3",
        "mode": "link",
        "links": [
            "228e56200a2d126c",
            "e0945fbfc07bc29e",
            "b3aa5956396cba2c",
            "9a1b87382a29f9e0",
            "d61c6adfc04afca3",
            "a2afffb63241ef9e"
        ],
        "x": 855,
        "y": 300,
        "wires": []
    },
    {
        "id": "0e6bd4b75223afe8",
        "type": "mqtt in",
        "z": "d78a1cc5aea2f3ae",
        "name": "",
        "topic": "parking/available",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a2ff255f92b14c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 420,
        "wires": [
            [
                "4ee96eb4c1f477d6",
                "1ae7f6fac2c32b45"
            ]
        ]
    },
    {
        "id": "4ee96eb4c1f477d6",
        "type": "link out",
        "z": "d78a1cc5aea2f3ae",
        "name": "To_UI_Available",
        "mode": "link",
        "links": [
            "5621320dd491ba37",
            "2ccebf4a6b066b17",
            "c10d34fbc20df9ff",
            "c9507cd9123a7b1f"
        ],
        "x": 515,
        "y": 420,
        "wires": []
    },
    {
        "id": "0edc95fed4810b35",
        "type": "mqtt in",
        "z": "d78a1cc5aea2f3ae",
        "name": "",
        "topic": "parking/smoke/value",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a2ff255f92b14c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "a7b69fab224162e8"
            ]
        ]
    },
    {
        "id": "a7b69fab224162e8",
        "type": "link out",
        "z": "d78a1cc5aea2f3ae",
        "name": "To_UI_Smoke",
        "mode": "link",
        "links": [
            "1498fba49307e6a8",
            "2bdb9085b2ec4a1b",
            "9f9ab157878bce3c",
            "cc3bfe114622d9d7",
            "95b731141b7312eb"
        ],
        "x": 775,
        "y": 520,
        "wires": []
    },
    {
        "id": "9a506718442452cc",
        "type": "mqtt in",
        "z": "d78a1cc5aea2f3ae",
        "name": "",
        "topic": "parking/alarm/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a2ff255f92b14c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 620,
        "wires": [
            [
                "edd5826c8f0b7cef"
            ]
        ]
    },
    {
        "id": "edd5826c8f0b7cef",
        "type": "link out",
        "z": "d78a1cc5aea2f3ae",
        "name": "To_UI_Alarm",
        "mode": "link",
        "links": [
            "f41a9b0ce3f9491c",
            "b93196dff80e489a",
            "42d552f2529fd20c",
            "1402740c13fb81c2",
            "477446475d992944",
            "b3aa5956396cba2c"
        ],
        "x": 485,
        "y": 620,
        "wires": []
    },
    {
        "id": "c708d51d93b2080d",
        "type": "mqtt out",
        "z": "d78a1cc5aea2f3ae",
        "name": "",
        "topic": "parking/buzzer/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7a2ff255f92b14c8",
        "x": 460,
        "y": 680,
        "wires": []
    },
    {
        "id": "8aeb41697625fafe",
        "type": "link in",
        "z": "d78a1cc5aea2f3ae",
        "name": "From_UI_Buzzer",
        "links": [
            "c4369b41cfa29f0e"
        ],
        "x": 155,
        "y": 680,
        "wires": [
            [
                "c708d51d93b2080d"
            ]
        ]
    },
    {
        "id": "31ce6dca4df714d5",
        "type": "mqtt out",
        "z": "d78a1cc5aea2f3ae",
        "name": "",
        "topic": "parking/gate/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7a2ff255f92b14c8",
        "x": 470,
        "y": 760,
        "wires": []
    },
    {
        "id": "e07ccade121b707d",
        "type": "link in",
        "z": "d78a1cc5aea2f3ae",
        "name": "From_UI_Switch",
        "links": [
            "632ff60c6113ed26"
        ],
        "x": 135,
        "y": 760,
        "wires": [
            [
                "31ce6dca4df714d5"
            ]
        ]
    },
    {
        "id": "1ae7f6fac2c32b45",
        "type": "mqtt out",
        "z": "d78a1cc5aea2f3ae",
        "name": "",
        "topic": "parking/available",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7a2ff255f92b14c8",
        "x": 490,
        "y": 360,
        "wires": []
    },
    {
        "id": "24ce6d85d1c1f914",
        "type": "rbe",
        "z": "d78a1cc5aea2f3ae",
        "name": "Filter Repeats",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 520,
        "y": 100,
        "wires": [
            [
                "6ff65aa730dcf1ad"
            ]
        ]
    },
    {
        "id": "0fdcb9ee3ea1ba1f",
        "type": "rbe",
        "z": "d78a1cc5aea2f3ae",
        "name": "Filter Repeats",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "e71ce197dfd2db8b"
            ]
        ]
    },
    {
        "id": "d93af448b6cb1a92",
        "type": "rbe",
        "z": "d78a1cc5aea2f3ae",
        "name": "Filter Repeats",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "8853415b5219ab36"
            ]
        ]
    },
    {
        "id": "6ff65aa730dcf1ad",
        "type": "change",
        "z": "d78a1cc5aea2f3ae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "parking/slot/1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 100,
        "wires": [
            [
                "9c249e1f703a7ff4"
            ]
        ]
    },
    {
        "id": "e71ce197dfd2db8b",
        "type": "change",
        "z": "d78a1cc5aea2f3ae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "parking/slot/2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 200,
        "wires": [
            [
                "2b732069f5723a18"
            ]
        ]
    },
    {
        "id": "8853415b5219ab36",
        "type": "change",
        "z": "d78a1cc5aea2f3ae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "parking/slot/3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 300,
        "wires": [
            [
                "d2f8960d823cc35d"
            ]
        ]
    },
    {
        "id": "92856e56a786ca7d",
        "type": "link in",
        "z": "fbd85a30f492fd45",
        "name": "link in 7",
        "links": [
            "9c249e1f703a7ff4"
        ],
        "x": 1375,
        "y": 200,
        "wires": [
            [
                "4d6cfeebf4304c6f"
            ]
        ]
    },
    {
        "id": "eecd8f9a70856503",
        "type": "link in",
        "z": "fbd85a30f492fd45",
        "name": "link in 8",
        "links": [
            "2b732069f5723a18"
        ],
        "x": 1425,
        "y": 300,
        "wires": [
            [
                "036672a79d84bc0c"
            ]
        ]
    },
    {
        "id": "a2afffb63241ef9e",
        "type": "link in",
        "z": "fbd85a30f492fd45",
        "name": "link in 9",
        "links": [
            "d2f8960d823cc35d"
        ],
        "x": 1415,
        "y": 420,
        "wires": [
            [
                "a8b067f8b55c6450"
            ]
        ]
    },
    {
        "id": "4d6cfeebf4304c6f",
        "type": "function",
        "z": "fbd85a30f492fd45",
        "name": "Change color",
        "func": "let status = msg.payload.toString().trim();\n\nif (status === \"Occupied\" || status === \"1\") {\n    msg.color = \"#ff4d4d\";\n    msg.text = \"Occupied\";\n} else {\n    msg.color = \"#2ecc71\";\n    msg.text = \"Empty\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 200,
        "wires": [
            [
                "154c0eac742232e1"
            ]
        ]
    },
    {
        "id": "036672a79d84bc0c",
        "type": "function",
        "z": "fbd85a30f492fd45",
        "name": "Change color",
        "func": "let status = msg.payload.toString().trim();\n\nif (status === \"Occupied\" || status === \"1\") {\n    msg.color = \"#ff4d4d\";\n    msg.text = \"Occupied\";\n} else {\n    msg.color = \"#2ecc71\";\n    msg.text = \"Empty\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 300,
        "wires": [
            [
                "da19ea540b7136ae"
            ]
        ]
    },
    {
        "id": "a8b067f8b55c6450",
        "type": "function",
        "z": "fbd85a30f492fd45",
        "name": "Change color",
        "func": "let status = msg.payload.toString().trim();\n\nif (status === \"Occupied\" || status === \"1\") {\n    msg.color = \"#ff4d4d\";\n    msg.text = \"Occupied\";\n} else {\n    msg.color = \"#2ecc71\";\n    msg.text = \"Empty\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 420,
        "wires": [
            [
                "ef9783379c5319f3"
            ]
        ]
    },
    {
        "id": "c9507cd9123a7b1f",
        "type": "link in",
        "z": "fbd85a30f492fd45",
        "name": "link in 10",
        "links": [
            "4ee96eb4c1f477d6"
        ],
        "x": 1415,
        "y": 540,
        "wires": [
            [
                "05a829e6d5821182"
            ]
        ]
    },
    {
        "id": "151661df243b45bf",
        "type": "function",
        "z": "fbd85a30f492fd45",
        "name": "function 5",
        "func": "let reason = msg.payload.toString().trim().toLowerCase();\n\nif (reason === \"clear\") {\n    msg.color = \"#27ae60\";\n    msg.text = \"SYSTEM SECURE\";\n    msg.icon = \"fa fa-shield fa-2x\"; \n} else if (reason === \"smoke\") {\n    msg.color = \"#c0392b\"; \n    msg.text = \"FIRE: SMOKE DETECTED\";\n    msg.icon = \"fa fa-fire fa-2x\"; \n} else if (reason === \"panic\") {\n    msg.color = \"#8e44ad\"; \n    msg.text = \"EMERGENCY: PANIC BUTTON\";\n    msg.icon = \"fa fa-exclamation-triangle fa-2x\"; \n} else {\n    msg.color = \"#f39c12\"; \n    msg.text = \"ALERT: \" + reason.toUpperCase();\n    msg.icon = \"fa fa-warning fa-2x\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 440,
        "wires": [
            [
                "b4ada3d9667b747a"
            ]
        ]
    },
    {
        "id": "95b731141b7312eb",
        "type": "link in",
        "z": "fbd85a30f492fd45",
        "name": "link in 11",
        "links": [
            "a7b69fab224162e8"
        ],
        "x": 1955,
        "y": 320,
        "wires": [
            [
                "2e83b780f6f70ba5",
                "29b97c03068589a0"
            ]
        ]
    },
    {
        "id": "477446475d992944",
        "type": "link in",
        "z": "fbd85a30f492fd45",
        "name": "link in 12",
        "links": [
            "edd5826c8f0b7cef"
        ],
        "x": 1955,
        "y": 440,
        "wires": [
            [
                "151661df243b45bf"
            ]
        ]
    },
    {
        "id": "1f1aae097248111a",
        "type": "ui_chart",
        "z": "fbd85a30f492fd45",
        "name": "",
        "group": "b3bf710b67ec3bc9",
        "order": 3,
        "width": 6,
        "height": 5,
        "label": "Smoke Trend (Past 5 Mins)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2330,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a5ae2ca52669c5cc",
        "type": "ui_gauge",
        "z": "fbd85a30f492fd45",
        "name": "",
        "group": "f19da899c53473ee",
        "order": 1,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Smoke Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2300,
        "y": 280,
        "wires": []
    },
    {
        "id": "2a5cc8e8ba7dfc64",
        "type": "ui_gauge",
        "z": "fbd85a30f492fd45",
        "name": "",
        "group": "6f546be7135824c6",
        "order": 4,
        "width": 12,
        "height": 6,
        "gtype": "gage",
        "title": "Available Slots",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff40"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1730,
        "y": 540,
        "wires": []
    },
    {
        "id": "b4ada3d9667b747a",
        "type": "ui_template",
        "z": "fbd85a30f492fd45",
        "group": "b3bf710b67ec3bc9",
        "name": "",
        "order": 2,
        "width": 6,
        "height": 2,
        "format": "<div ng-style=\"{'background-color': msg.color}\"\n    style=\"width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; \n            border-radius: 8px; color: white; font-family: 'Arial Black', sans-serif; overflow: hidden; margin: 0; padding: 5px;\">\n\n    <i class=\"{{msg.icon}}\" style=\"font-size: 24px; margin-bottom: 4px;\"></i>\n    <div style=\"font-size: 16px; font-weight: bold; text-align: center; line-height: 1.1;\">\n        {{msg.text}}\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2310,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e712efa1a6324638",
        "type": "ui_template",
        "z": "fbd85a30f492fd45",
        "group": "6f546be7135824c6",
        "name": "Slot 3",
        "order": 3,
        "width": 4,
        "height": 5,
        "format": "<div ng-style=\"{'background-color': msg.color}\" style=\"width: 100%; height: 100%; color: white; display: flex; \n            flex-direction: column; align-items: center; justify-content: center; \n            border-radius: 15px; box-shadow: 0 4px 8px rgba(0,0,0,0.2); \n            box-sizing: border-box; padding: 10px;\">\n\n    <div style=\"font-size: 16px; opacity: 0.9;\">SLOT 3</div>\n    <div style=\"font-size: 28px; font-weight: bold; margin-top: 15px;\">{{msg.text}}</div>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1840,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "31575df2d736da9d",
        "type": "ui_template",
        "z": "fbd85a30f492fd45",
        "group": "6f546be7135824c6",
        "name": "Slot 2",
        "order": 2,
        "width": 4,
        "height": 5,
        "format": "<div ng-style=\"{'background-color': msg.color}\" style=\"width: 100%; height: 100%; color: white; display: flex; \n            flex-direction: column; align-items: center; justify-content: center; \n            border-radius: 15px; box-shadow: 0 4px 8px rgba(0,0,0,0.2); \n            box-sizing: border-box; padding: 10px;\">\n\n    <div style=\"font-size: 16px; opacity: 0.9;\">SLOT 2</div>\n    <div style=\"font-size: 28px; font-weight: bold; margin-top: 15px;\">{{msg.text}}</div>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1860,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9f52d759ebc13c7f",
        "type": "ui_template",
        "z": "fbd85a30f492fd45",
        "group": "6f546be7135824c6",
        "name": "Slot 1",
        "order": 1,
        "width": 4,
        "height": 5,
        "format": "<div ng-style=\"{'background-color': msg.color}\" \n     style=\"width: 100%; height: 100%; color: white; display: flex; \n            flex-direction: column; align-items: center; justify-content: center; \n            border-radius: 15px; box-shadow: 0 4px 8px rgba(0,0,0,0.2); \n            box-sizing: border-box; padding: 10px;\">\n    \n    <div style=\"font-size: 16px; opacity: 0.9;\">SLOT 1</div>\n    <div style=\"font-size: 28px; font-weight: bold; margin-top: 15px;\">{{msg.text}}</div>\n    \n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1880,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "154c0eac742232e1",
        "type": "delay",
        "z": "fbd85a30f492fd45",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1710,
        "y": 200,
        "wires": [
            [
                "9f52d759ebc13c7f"
            ]
        ]
    },
    {
        "id": "da19ea540b7136ae",
        "type": "delay",
        "z": "fbd85a30f492fd45",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1710,
        "y": 300,
        "wires": [
            [
                "31575df2d736da9d"
            ]
        ]
    },
    {
        "id": "ef9783379c5319f3",
        "type": "delay",
        "z": "fbd85a30f492fd45",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1690,
        "y": 420,
        "wires": [
            [
                "e712efa1a6324638"
            ]
        ]
    },
    {
        "id": "05a829e6d5821182",
        "type": "delay",
        "z": "fbd85a30f492fd45",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1530,
        "y": 540,
        "wires": [
            [
                "2a5cc8e8ba7dfc64"
            ]
        ]
    },
    {
        "id": "2e83b780f6f70ba5",
        "type": "delay",
        "z": "fbd85a30f492fd45",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2110,
        "y": 280,
        "wires": [
            [
                "a5ae2ca52669c5cc"
            ]
        ]
    },
    {
        "id": "29b97c03068589a0",
        "type": "delay",
        "z": "fbd85a30f492fd45",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2110,
        "y": 340,
        "wires": [
            [
                "1f1aae097248111a"
            ]
        ]
    },
    {
        "id": "13f7bee2719c4a37",
        "type": "ui_template",
        "z": "40dbd4eefce72e0e",
        "group": "f5f93a2edbff8ba3",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div style=\"padding: 20px; text-align: center; background: #f9f9f9; border-radius: 10px;\">\n    <h3 style=\"color: #2c3e50; margin-bottom: 20px;\">Administrator Login</h3>\n\n    <input type=\"text\" ng-model=\"username\" placeholder=\"Enter Username\"\n           style=\"margin-bottom: 15px; padding: 10px; width: 85%; border: 1px solid #ccc; border-radius: 5px;\"><br>\n\n    <input type=\"password\" ng-model=\"password\" placeholder=\"Enter Password\"\n           style=\"margin-bottom: 25px; padding: 10px; width: 85%; border: 1px solid #ccc; border-radius: 5px;\"><br>\n\n    <button ng-click=\"send({payload: {user: username, pass: password}})\"\n            style=\"padding: 12px 30px; background: #2980b9; color: white; font-weight: bold; border: none; border-radius: 5px; cursor: pointer; width: 85%;\">\n        SECURE LOGIN\n    </button>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "25f69d76defcf332"
            ]
        ]
    },
    {
        "id": "25f69d76defcf332",
        "type": "function",
        "z": "40dbd4eefce72e0e",
        "name": "function 2",
        "func": "// 1. Admin Credentials\nconst adminUser = \"admin\";\nconst adminPass = \"admin123\";\n\n// 2. Get inputs\nconst inputUser = msg.payload.user;\nconst inputPass = msg.payload.pass;\n\n// 3. Admin Check\nif (inputUser === adminUser && inputPass === adminPass) {\n    // Output 1: \n    msg.payload = { \"tab\": \"Admin View\" };\n    return [msg, null];\n}\nelse {\n    // Output 2: \n    msg.payload = \"Access Denied: Admin only.\";\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 320,
        "wires": [
            [
                "c3749a7a2b0b95ac",
                "8f3384b054493678"
            ],
            [
                "2764b00ea8143740"
            ]
        ]
    },
    {
        "id": "2764b00ea8143740",
        "type": "ui_toast",
        "z": "40dbd4eefce72e0e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Login Failed",
        "name": "",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "c3749a7a2b0b95ac",
        "type": "ui_ui_control",
        "z": "40dbd4eefce72e0e",
        "name": "",
        "events": "all",
        "x": 600,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "376fcd95ea803042",
        "type": "link in",
        "z": "40dbd4eefce72e0e",
        "name": "link in 10",
        "links": [
            "9c249e1f703a7ff4"
        ],
        "x": 865,
        "y": 160,
        "wires": [
            [
                "5afd1035797aa273"
            ]
        ]
    },
    {
        "id": "2b5556bb685d0960",
        "type": "link in",
        "z": "40dbd4eefce72e0e",
        "name": "link in 11",
        "links": [
            "2b732069f5723a18"
        ],
        "x": 915,
        "y": 260,
        "wires": [
            [
                "4561a9f3c2322630"
            ]
        ]
    },
    {
        "id": "e0945fbfc07bc29e",
        "type": "link in",
        "z": "40dbd4eefce72e0e",
        "name": "link in 12",
        "links": [
            "d2f8960d823cc35d"
        ],
        "x": 905,
        "y": 380,
        "wires": [
            [
                "930c9d5b92387835"
            ]
        ]
    },
    {
        "id": "5afd1035797aa273",
        "type": "function",
        "z": "40dbd4eefce72e0e",
        "name": "Change color",
        "func": "let status = msg.payload.toString().trim();\n\nif (status === \"Occupied\" || status === \"1\") {\n    msg.color = \"#ff4d4d\";\n    msg.text = \"Occupied\";\n} else {\n    msg.color = \"#2ecc71\";\n    msg.text = \"Empty\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 160,
        "wires": [
            [
                "17a6707716c50d51"
            ]
        ]
    },
    {
        "id": "4561a9f3c2322630",
        "type": "function",
        "z": "40dbd4eefce72e0e",
        "name": "Change color",
        "func": "let status = msg.payload.toString().trim();\n\nif (status === \"Occupied\" || status === \"1\") {\n    msg.color = \"#ff4d4d\";\n    msg.text = \"Occupied\";\n} else {\n    msg.color = \"#2ecc71\";\n    msg.text = \"Empty\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "2282629ede66ca5e"
            ]
        ]
    },
    {
        "id": "930c9d5b92387835",
        "type": "function",
        "z": "40dbd4eefce72e0e",
        "name": "Change color",
        "func": "let status = msg.payload.toString().trim();\n\nif (status === \"Occupied\" || status === \"1\") {\n    msg.color = \"#ff4d4d\";\n    msg.text = \"Occupied\";\n} else {\n    msg.color = \"#2ecc71\";\n    msg.text = \"Empty\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 380,
        "wires": [
            [
                "6e5e31c65de2bf0c"
            ]
        ]
    },
    {
        "id": "5621320dd491ba37",
        "type": "link in",
        "z": "40dbd4eefce72e0e",
        "name": "link in 13",
        "links": [
            "4ee96eb4c1f477d6"
        ],
        "x": 905,
        "y": 500,
        "wires": [
            [
                "3c20934948d18a58"
            ]
        ]
    },
    {
        "id": "af31b157e9619914",
        "type": "function",
        "z": "40dbd4eefce72e0e",
        "name": "function 4",
        "func": "let reason = msg.payload.toString().trim().toLowerCase();\n\nif (reason === \"clear\") {\n    msg.color = \"#27ae60\";\n    msg.text = \"SYSTEM SECURE\";\n    msg.icon = \"fa fa-shield fa-2x\"; \n} else if (reason === \"smoke\") {\n    msg.color = \"#c0392b\"; \n    msg.text = \"FIRE: SMOKE DETECTED\";\n    msg.icon = \"fa fa-fire fa-2x\"; \n} else if (reason === \"panic\") {\n    msg.color = \"#8e44ad\"; \n    msg.text = \"EMERGENCY: PANIC BUTTON\";\n    msg.icon = \"fa fa-exclamation-triangle fa-2x\"; \n} else {\n    msg.color = \"#f39c12\"; \n    msg.text = \"ALERT: \" + reason.toUpperCase();\n    msg.icon = \"fa fa-warning fa-2x\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 400,
        "wires": [
            [
                "d6eccaa7393dcf93"
            ]
        ]
    },
    {
        "id": "9f9ab157878bce3c",
        "type": "link in",
        "z": "40dbd4eefce72e0e",
        "name": "link in 14",
        "links": [
            "a7b69fab224162e8"
        ],
        "x": 1445,
        "y": 260,
        "wires": [
            [
                "34f966f242f44856",
                "7b95129b21c19d9f"
            ]
        ]
    },
    {
        "id": "b93196dff80e489a",
        "type": "link in",
        "z": "40dbd4eefce72e0e",
        "name": "link in 15",
        "links": [
            "edd5826c8f0b7cef"
        ],
        "x": 1395,
        "y": 400,
        "wires": [
            [
                "af31b157e9619914"
            ]
        ]
    },
    {
        "id": "c4369b41cfa29f0e",
        "type": "link out",
        "z": "40dbd4eefce72e0e",
        "name": "To_Input_StopBuzz",
        "mode": "link",
        "links": [
            "8aeb41697625fafe"
        ],
        "x": 1155,
        "y": 700,
        "wires": []
    },
    {
        "id": "632ff60c6113ed26",
        "type": "link out",
        "z": "40dbd4eefce72e0e",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "b3aa5956396cba2c",
            "e07ccade121b707d"
        ],
        "x": 1145,
        "y": 780,
        "wires": []
    },
    {
        "id": "b3aa5956396cba2c",
        "type": "link in",
        "z": "40dbd4eefce72e0e",
        "name": "Global_Event_Logger",
        "links": [
            "2b732069f5723a18",
            "632ff60c6113ed26",
            "9c249e1f703a7ff4",
            "d2f8960d823cc35d",
            "d6a0019d2b810361",
            "edd5826c8f0b7cef"
        ],
        "x": 1325,
        "y": 700,
        "wires": [
            [
                "8aa41ff060dcf2e4"
            ]
        ]
    },
    {
        "id": "8aa41ff060dcf2e4",
        "type": "function",
        "z": "40dbd4eefce72e0e",
        "name": "Smart Time Logger",
        "func": "// 1. Setup Time and Local Variables\nconst timeSettings = { timeZone: 'Asia/Kuala_Lumpur', hour12: false, hour: '2-digit', minute: '2-digit', second: '2-digit' };\nconst currentTime = new Date().toLocaleTimeString(\"en-GB\", timeSettings);\nconst currentTimestamp = Date.now();\nlet payloadStr = msg.payload.toString().trim().toLowerCase();\n\nlet logData = null;\n\n// 2. LOGIC: Parking Stay Duration\nif (msg.topic && msg.topic.includes(\"parking/slot/\")) {\n    let slotNum = msg.topic.split('/').pop();\n\n    if (payloadStr === \"occupied\" || payloadStr === \"1\") {\n        flow.set(\"slot\" + slotNum + \"_arrivalTime\", currentTime);\n        flow.set(\"slot\" + slotNum + \"_startTS\", currentTimestamp);\n        node.status({ fill: \"blue\", shape: \"dot\", text: \"Slot \" + slotNum + \" Occupied\" });\n        return null;\n    }\n    else if (payloadStr === \"empty\" || payloadStr === \"0\") {\n        let startTime = flow.get(\"slot\" + slotNum + \"_arrivalTime\");\n        let startTS = flow.get(\"slot\" + slotNum + \"_startTS\");\n\n        let remarkText = \"\";\n\n        if (startTime && startTS) {\n            let durationMs = currentTimestamp - startTS;\n            let mins = Math.floor(durationMs / 60000);\n            let secs = Math.floor((durationMs % 60000) / 1000);\n            remarkText = \"Stayed: \" + mins + \"m \" + secs + \"s\";\n        } else {\n            remarkText = \"<span style='color: #f39c12;'>Time lost (System Deploy)</span>\";\n        }\n\n        // ★ NEW: Assign a specific color to each slot! ★\n        let slotColor = \"#333333\"; // Default dark grey\n        if (slotNum === \"1\") slotColor = \"#3498db\"; // Blue\n        else if (slotNum === \"2\") slotColor = \"#9b59b6\"; // Purple\n        else if (slotNum === \"3\") slotColor = \"#e67e22\"; // Orange\n\n        // Generate data WITH HTML styling for the Location\n        logData = {\n            \"Time\": currentTime,\n            \"Location\": \"<span style='color: \" + slotColor + \"; font-weight: bold;'>Slot \" + slotNum + \"</span>\",\n            \"Status\": \"<span style='color: #27ae60; font-weight: bold;'>COMPLETED</span>\",\n            \"Remark\": remarkText\n        };\n\n        flow.set(\"slot\" + slotNum + \"_arrivalTime\", null);\n        flow.set(\"slot\" + slotNum + \"_startTS\", null);\n        node.status({ fill: \"green\", shape: \"ring\", text: \"Parking session logged\" });\n    }\n}\n\n// 3. LOGIC: Fire and Panic Alarms\nelse if (msg.topic && msg.topic.includes(\"alarm/status\")) {\n    if (payloadStr === \"smoke\" || payloadStr === \"panic\") {\n\n        let alertColor = payloadStr === \"smoke\" ? \"#e74c3c\" : \"#8e44ad\";\n        let icon = payloadStr === \"smoke\" ? \"🔥\" : \"⚠️\";\n\n        // Generate data WITH HTML styling\n        logData = {\n            \"Time\": currentTime,\n            \"Location\": \"<span style='color: #c0392b; font-weight: bold;'>🚨 Emergency System</span>\",\n            \"Status\": \"<span style='color: \" + alertColor + \"; font-weight: bold;'>\" + payloadStr.toUpperCase() + \" ALERT</span>\",\n            \"Remark\": icon + \" \" + (payloadStr === \"smoke\" ? \"Fire detected in lot!\" : \"Manual panic button pressed!\")\n        };\n\n        node.status({ fill: \"red\", shape: \"dot\", text: \"Alarm Logged\" });\n    }\n}\n\n// 4. SEND DATA \nif (logData !== null) {\n\n    let history = flow.get(\"dashboardTableHistory\") || [];\n    history.unshift(logData);\n\n    if (history.length > 15) {\n        history.pop();\n    }\n\n    flow.set(\"dashboardTableHistory\", history);\n\n    // ★ 核心终极修复：深度克隆 (Deep Clone) ★\n    // 这行代码会把数据彻底粉碎并重新生成一个全新的包裹。\n    // Node-RED 会认为这是 100% 毫无关联的新数据，从而立刻、瞬间推送到你的屏幕上！\n    let clonedHistory = JSON.parse(JSON.stringify(history));\n\n    let msgTable = { payload: clonedHistory };\n    let msgFirebase = { payload: logData };\n\n    return [msgTable, msgFirebase];\n}\n\nreturn null;",
        "outputs": 2,
        "timeout": "",
        "noerr": 3,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 720,
        "wires": [
            [
                "db0f3fb1899b9288"
            ],
            [
                "8384b526c7935d56"
            ]
        ]
    },
    {
        "id": "8384b526c7935d56",
        "type": "link out",
        "z": "40dbd4eefce72e0e",
        "name": "To_Firebase_ActivityLog",
        "mode": "link",
        "links": [
            "b52ffc079c3de207"
        ],
        "x": 1655,
        "y": 800,
        "wires": []
    },
    {
        "id": "db0f3fb1899b9288",
        "type": "ui_table",
        "z": "40dbd4eefce72e0e",
        "group": "activity_log_group",
        "name": "Activity Log Table",
        "order": 3,
        "width": 12,
        "height": 7,
        "columns": [
            {
                "field": "Time",
                "title": "Time",
                "width": "20%",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Location",
                "title": "Source",
                "width": "30%",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Status",
                "title": "Event Type",
                "width": "25%",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Remark",
                "title": "Details",
                "width": "25%",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1750,
        "y": 700,
        "wires": []
    },
    {
        "id": "a577db5fa2abfd72",
        "type": "ui_switch",
        "z": "40dbd4eefce72e0e",
        "name": "",
        "label": "Admin Gate Control",
        "tooltip": "",
        "group": "activity_log_group",
        "order": 1,
        "width": 12,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "parking/gate/control",
        "topicType": "str",
        "style": "",
        "onvalue": "OPEN",
        "onvalueType": "str",
        "onicon": "fa fa-car",
        "oncolor": "",
        "offvalue": "CLOSE",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 950,
        "y": 780,
        "wires": [
            [
                "632ff60c6113ed26"
            ]
        ]
    },
    {
        "id": "16178e2c5a870a49",
        "type": "ui_chart",
        "z": "40dbd4eefce72e0e",
        "name": "",
        "group": "f19da899c53473ee",
        "order": 2,
        "width": 6,
        "height": 5,
        "label": "Smoke Trend (Past 5 Mins)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1820,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c9d4509c6e68795b",
        "type": "ui_button",
        "z": "40dbd4eefce72e0e",
        "name": "",
        "group": "activity_log_group",
        "order": 2,
        "width": 12,
        "height": 2,
        "passthru": false,
        "label": "   MUTE ALARM",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#c0392b",
        "className": "",
        "icon": "fa-bell-slash",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "parking/buzzer/control",
        "topicType": "str",
        "x": 960,
        "y": 700,
        "wires": [
            [
                "c4369b41cfa29f0e"
            ]
        ]
    },
    {
        "id": "7b95129b21c19d9f",
        "type": "ui_gauge",
        "z": "40dbd4eefce72e0e",
        "name": "",
        "group": "b3bf710b67ec3bc9",
        "order": 1,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Smoke Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1630,
        "y": 240,
        "wires": []
    },
    {
        "id": "14e6abdb5293f8d5",
        "type": "ui_gauge",
        "z": "40dbd4eefce72e0e",
        "name": "",
        "group": "b9528c6b547cb537",
        "order": 4,
        "width": 12,
        "height": 6,
        "gtype": "gage",
        "title": "Available Slots",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff40"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1220,
        "y": 500,
        "wires": []
    },
    {
        "id": "d6eccaa7393dcf93",
        "type": "ui_template",
        "z": "40dbd4eefce72e0e",
        "group": "f19da899c53473ee",
        "name": "",
        "order": 3,
        "width": 6,
        "height": 2,
        "format": "<div ng-style=\"{'background-color': msg.color}\"\n    style=\"width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; \n            border-radius: 8px; color: white; font-family: 'Arial Black', sans-serif; overflow: hidden; margin: 0; padding: 5px;\">\n\n    <i class=\"{{msg.icon}}\" style=\"font-size: 24px; margin-bottom: 4px;\"></i>\n    <div style=\"font-size: 16px; font-weight: bold; text-align: center; line-height: 1.1;\">\n        {{msg.text}}\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1800,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "32f4d339c48ff787",
        "type": "ui_template",
        "z": "40dbd4eefce72e0e",
        "group": "b9528c6b547cb537",
        "name": "Slot 3",
        "order": 3,
        "width": 4,
        "height": 5,
        "format": "<div ng-style=\"{'background-color': msg.color}\" style=\"width: 100%; height: 100%; color: white; display: flex; \n            flex-direction: column; align-items: center; justify-content: center; \n            border-radius: 15px; box-shadow: 0 4px 8px rgba(0,0,0,0.2); \n            box-sizing: border-box; padding: 10px;\">\n\n    <div style=\"font-size: 16px; opacity: 0.9;\">SLOT 3</div>\n    <div style=\"font-size: 28px; font-weight: bold; margin-top: 15px;\">{{msg.text}}</div>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1330,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "52a111f64663c033",
        "type": "ui_template",
        "z": "40dbd4eefce72e0e",
        "group": "b9528c6b547cb537",
        "name": "Slot 2",
        "order": 2,
        "width": 4,
        "height": 5,
        "format": "<div ng-style=\"{'background-color': msg.color}\" style=\"width: 100%; height: 100%; color: white; display: flex; \n            flex-direction: column; align-items: center; justify-content: center; \n            border-radius: 15px; box-shadow: 0 4px 8px rgba(0,0,0,0.2); \n            box-sizing: border-box; padding: 10px;\">\n\n    <div style=\"font-size: 16px; opacity: 0.9;\">SLOT 2</div>\n    <div style=\"font-size: 28px; font-weight: bold; margin-top: 15px;\">{{msg.text}}</div>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1350,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b785169ad87aab17",
        "type": "ui_template",
        "z": "40dbd4eefce72e0e",
        "group": "b9528c6b547cb537",
        "name": "Slot 1",
        "order": 1,
        "width": 4,
        "height": 5,
        "format": "<div ng-style=\"{'background-color': msg.color}\" \n     style=\"width: 100%; height: 100%; color: white; display: flex; \n            flex-direction: column; align-items: center; justify-content: center; \n            border-radius: 15px; box-shadow: 0 4px 8px rgba(0,0,0,0.2); \n            box-sizing: border-box; padding: 10px;\">\n    \n    <div style=\"font-size: 16px; opacity: 0.9;\">SLOT 1</div>\n    <div style=\"font-size: 28px; font-weight: bold; margin-top: 15px;\">{{msg.text}}</div>\n    \n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1370,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8f3384b054493678",
        "type": "change",
        "z": "40dbd4eefce72e0e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "system/auth",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Admin Logged In",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "d6a0019d2b810361"
            ]
        ]
    },
    {
        "id": "d6a0019d2b810361",
        "type": "link out",
        "z": "40dbd4eefce72e0e",
        "name": "To_Global_Logger",
        "mode": "link",
        "links": [
            "b3aa5956396cba2c"
        ],
        "x": 755,
        "y": 260,
        "wires": []
    },
    {
        "id": "17a6707716c50d51",
        "type": "delay",
        "z": "40dbd4eefce72e0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1200,
        "y": 160,
        "wires": [
            [
                "b785169ad87aab17"
            ]
        ]
    },
    {
        "id": "2282629ede66ca5e",
        "type": "delay",
        "z": "40dbd4eefce72e0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1200,
        "y": 260,
        "wires": [
            [
                "52a111f64663c033"
            ]
        ]
    },
    {
        "id": "6e5e31c65de2bf0c",
        "type": "delay",
        "z": "40dbd4eefce72e0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1180,
        "y": 380,
        "wires": [
            [
                "32f4d339c48ff787"
            ]
        ]
    },
    {
        "id": "3c20934948d18a58",
        "type": "delay",
        "z": "40dbd4eefce72e0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1020,
        "y": 500,
        "wires": [
            [
                "14e6abdb5293f8d5"
            ]
        ]
    },
    {
        "id": "34f966f242f44856",
        "type": "delay",
        "z": "40dbd4eefce72e0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1600,
        "y": 300,
        "wires": [
            [
                "16178e2c5a870a49"
            ]
        ]
    }
]
